@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --background: #f3f3f2;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
}
